
header {
    background-color:#4f4a6e;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.titulo{
    text-align: center;
    padding: 2rem
}

.formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 3rem 2rem 3rem;
}

.entrada{
    width: 50%;

}

#item{
    width: 20%;    
}